[submodule "ev3-kernel"]
	path = ev3-kernel
	url = git://github.com/ev3dev/ev3-kernel
[submodule "rtl8188eu"]
	path = modules/rtl8188eu
	url = git://github.com/ev3dev/rtl8188eu
[submodule "rpi-kernel"]
	path = rpi-kernel
	url = git://github.com/ev3dev/rpi-kernel
[submodule "modules/rtl8812au"]
	path = modules/rtl8812au
	url = https://github.com/ev3dev/rtl8812AU_8821AU_linux.git
