Source: rpi-mkimage
Priority: optional
Maintainer: David Lechner <david@lechnology.com>
Build-Depends: debhelper (>= 8.0.0)
Standards-Version: 3.9.5
Section: embedded
Homepage: http://raspberrypi.org
Vcs-Git: git://github.com/ev3dev/ev3dev-kpkg.git
Vcs-Browser: https://github.com/ev3dev/ev3dev-kpkg

Package: rpi-mkimage
Architecture: all
Depends: ${misc:Depends}, binutils, perl
Description: Tool to add "trailer" to device-tree capable Raspberry Pi kernels.
 The Raspberry Pi bootloader checks for a special "trailer" on the kernel
 image to indicate that a kernel is device-tree capable.
